div {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background-color: #1560bd;
  margin: 0px;
  color: white;
  border: 0px;
}

#headerTitle {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: auto;
}

#colHeader {
  color: gray;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

#colValue {
  text-align: center;
  margin: auto;
}

#addButton {
  background-color: #2f82e7;
  font-size: 16px;
  border: 0px;
  width: 100%;
  float: right;
}

#submitButton {
  background-color: #2f82e7;
  width: 30%;
  font-size: 16px;
  border: 0px;
}

#cancelButton {
  font-size: 16px;
  width: 30%;
  background-color: rgb(255, 67, 67);
  border: 0px;
}

#updateButton {
  background-color: #2f82e7;
  font-size: 16px;
  border: 0px;
  width: 100%;
  text-align: center;
  margin: auto;
}

#deleteButton {
  width: 100%;
  font-size: 16px;
  background-color: rgb(255, 67, 67);
  border: 0px;
  text-align: center;
  margin: auto;
}